@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.url-input-container {
    margin: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: #00B3FD;
    outline: none;
    border: 1px solid #00B3FD;
    color: #F7F6F4;
    cursor: pointer;
    height: 45px;
    width: 90px;
    border-radius: 0 0.25em 0.25em 0;
    border-left: 0;
}

.submit-btn:hover {
    background-color: #2785CF;
}

.url-input {
    outline: none;
    border: 1px solid #00B3FD;
    border-right: 0;
    width: 60vw;
    max-width: 800px;
    font-weight: bold;
    line-height: 1.2rem;
    height: 45px;
    border-radius: 0.25em 0 0 0.25em;
    padding-left: 15px;
    color: hsl(0, 0%, 55%);
}

.error-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    padding-bottom: 40px;
}

.error-msg{
    display: flex;
    align-items: center;
    background-color: hsla(16, 100%, 50%, 0.1);
    width: 40vw;
    line-height: 1.2rem;
    padding: 10px;
    border: 2px solid #ff4500;
    border-radius: 10px;
    color: #ff4500;
    font-weight: bold;
    justify-content: space-between;
}

.close-btn:hover{
    cursor: pointer;
}

.error-msg-hidden{
    display: none;
}

.url-input-container::after{
    content: '';
    background: red;
    position: absolute;
    z-index: -1;
    transform: translateY(-25px);
}

.url-input::placeholder{
    color: hsl(0, 0%, 55%);
}

nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 70px;
    font-size: 15px;
    margin-bottom: 40px;
}

nav a{
    color: hsl(0, 0%, 75%);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover{
    color: hsl(0, 0%, 40%);
    font-weight: bold;
    transition: 0.2s;
}

.nav-icon{
    font-size: larger;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 2rem;
    transition: 0s;
}

.nav-Link-signup{
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    margin-left: 15px;
}

.nav-Link-signup:hover{
    color: white;
    background-color: hsl(180, 60%, 40%);
}

.Links, .login-signup{
    list-style: none;
    display: flex;
}

.nav-Link{
    padding: 5px;
}

.nav-left{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-right{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.hero-container{
    display: flex;
    justify-content: center;
}

.hero-left{
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 50px;
}

.hero-heading{
    font-size: 50px;
    font-weight: bold;
}

.hero-sub-heading{
    font-size: 15px;
    color: gray;
}

.hero-cta-btn{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
}

.hero-cta-btn:hover{
    background-color: hsl(180, 60%, 40%);
}

.recent-link-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-link-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin: 0 5%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 800px;
    text-align: justify;
}

.recent-link-long{
    display: flex;
    font: 15px;
    align-items: center;
    word-break: break-all;
}

.recent-link-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: hsl(180, 66%, 49%);
    margin-left: 5px;
}

.copy-btn-Copy{
    background: hsl(180, 66%, 49%);
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
.copy-btn-Copy:hover{
    background-color: hsl(180, 60%, 40%);
    cursor: pointer;
}

.copy-btn-Copied{
    background: hsl(180, 60%, 40%);
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.history-container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.history-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn{
    background: hsl(180, 66%, 49%);
    height: 30px;
    width: 140px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
.clear-btn:hover{
    background-color: hsl(180, 60%, 40%);
}

@media only screen and (max-width: 720px){
  .recent-link-container {
    display: flex;
    flex-direction: column;
  }
  .recent-link-long{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .recent-link-long{
    border-bottom: 0.5px solid #888;
    padding-bottom: 2px;
  }
  .recent-link-right{
    margin-top: 5px;
  }
  /* Remove navbar links on mobile */
  .nav-icon{
    font-size: 2rem;
  }
  .nav-right{
    display: none;
  }
  .Links{
    display: none;
  }

  .history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-wrapper{
    display: flex;
    flex-direction: column;
}
}

.footer-statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer-statistics p{
    display: flex;
    text-align: center;
    color: #888;
    max-width: 600px;
}